<p id="notice"><%= notice %></p>

<h1>Fords</h1>

<table>
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fords.each do |ford| %>
      <tr>
        <td><%= ford.make %></td>
        <td><%= ford.model %></td>
        <td><%= ford.year %></td>
        <td><%= link_to 'Show', ford %></td>
        <td><%= link_to 'Edit', edit_ford_path(ford) %></td>
        <td><%= link_to 'Destroy', ford, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ford', new_ford_path %>
